@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Charis+SIL&family=Montserrat:wght@500&family=Nuosu+SIL&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;1,100&family=Ubuntu:wght@300&display=swap');
@font-face {
    font-family: "ABBFont";
    src: url(https://d3o3d9viu00ouz.cloudfront.net/brand/brand/v0.3.0/experience/fonts/ABBvoice_W_Lt.ttf);
  }
  
  @font-face {
    font-family: "ABBFont";
    src: url(https://d3o3d9viu00ouz.cloudfront.net/brand/brand/v0.3.0/experience/fonts/ABBvoice_W_Bd.ttf);
    font-weight: 700;
  }
  
  @font-face {
    font-family: "ABBFont";
    src: url(https://d3o3d9viu00ouz.cloudfront.net/brand/brand/v0.3.0/experience/fonts/ABBvoice_W_Md.ttf);
    font-weight: 600;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #381fd1;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:#f6f6eb;
    text-decoration: none;
}



.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color:#605fcc;
}

a:hover {
    border: 2px solid white;
}

nav {
    padding: 30px 15%;

}

.navlinks {
    list-style:none;
    display: flex; 
    justify-content: space-between; 
}

.cta {
    background-color: #eee;
    color: #381fd1;
} 

a {
    padding: 4px 8px; 
    border-radius: 5px;
}

.pageContent {
    padding-left: 7%;
    display: flex;
}

.textContent {
   padding-top: 5rem;
   width: 60%;
}

.pageImages img {
    max-width:100%;
    height: auto;
}

.heading{
    color: #fedb62;
    font-family: "Arimo";
    font-weight: 600;
    margin-bottom: 2%;
}

.heading2{
    font-family: "Arimo";
    font-weight:600;
    font-size: 5.5em;
    color: #f6f6eb;
}

.heading3{
    font-family: "Arimo";
    font-weight:600;
    font-size: 5.5em;
    color: #f6f6eb;
    margin-bottom: 2rem;
    
}


.text {
    color: #f6f6eb;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    line-height: 150%;
}

.btn {
    margin-top: 5%;
}

.btn button {
    margin-right: 10px;
    padding: 10px 10px;
    font-size: 1.2em;
    border-radius: 7px;
    cursor: pointer;
    
}

#btn1 {
    color: #4b4b4e;
    background-color: #fedb62;
    border: none;
}
#btn1:hover{
    background-color: #d6bf69;
}

#btn2{
    border: 2px solid #fedb62;
    color: #fedb62;
    background: none;
}
#btn2:hover {
    background-color: #fedb62;
    color: #4b4b4e;
}

.belowP1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

#P1text {
    font-family: "Arimo";
    font-weight:600;
    font-size: 4em;
    color: #11284b;
    
}
#P1text2 {
    font-family: "Arimo";
    font-weight:600;
    font-size: 4em;
    color: #11284b;
}

.box {
    display: flex;
    justify-content: center;
    margin: 3% 15%;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
}

#belowvideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4b4b4e;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 150%;

}

.acc-text{
    color: #4b4b4e;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: .9em;
    line-height: 150%;
}

.disp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin-left:10%;
    margin-right: auto;
    grid-gap: 2rem;
    
    
}

.grid-items{
    margin-top: 2rem;
    max-width: 85%;
}

.row1 {
    color: #381fd1;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: .9em;
    line-height: 150%;
}
.row2 {
    color: #11284b;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 150%;
    padding-bottom: 1.2rem;
}
.container2 {
    background-color:#f6f6eb;
    padding-bottom: 2rem;
   
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    grid-gap: 2rem;
}
.gridItms{
    color: #4b4b4e;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: .9em;
    line-height: 150%;
    
}

#features{
    color: #381fd1;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: .9em;
    line-height: 150%;
    margin-top: 3rem;
    text-align: center;
}
.belowFeatures{
    font-family: "Arimo";
    font-weight:600;
    font-size: 4em;
    color: #11284b;
    text-align: center;
    margin-bottom: 1.3rem;
}
.belowCustomers{
    font-family: "Arimo";
    font-weight:600;
    font-size: 3em;
    color: #11284b;
    text-align: center;
}

.pageImage{
    padding-top: 2rem;
    text-align: center;
}

.logos{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3%;
    
}

/*########################### FOOTER ####################*/

ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color:  #11284b;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #f6f6eb;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: f6f6eb;
    font-family: "Montserrat", sans-serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .cont {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color:#fedb62;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    /* border-top: 1px #777 solid; */
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #11284b;
    
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }
    